@import "./globalColor";

html,
body,
#root,
.App {
  background-color: #0f111a; // Set the background globally
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: $textColorDark;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: transparent; // Keep it transparent since the background is now set globally
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}
